<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar Pagamento</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<%- include('partials/navbar') %>

<h1>Registrar Pagamento</h1>

<!-- FORM BLOCO -->
<form action="/payment" method="GET">
    <label for="idbloco">Selecione o Bloco:</label>
    <select name="idbloco" id="idbloco" required onchange="this.form.submit()">
        <option value="">Selecione um bloco</option>
        <% blocos.forEach(row => { %>
            <option value="<%= row.idbloco %>" <%= blocoSelecionado == row.idbloco ? 'selected' : '' %>><%= row.descricao %></option>
        <% }); %>
    </select>
</form>

<!-- FORM APARTAMENTO -->
<% if (apartamentos.length > 0) { %>
    <form action="/payment" method="GET">
        <input type="hidden" name="mesHidden" value="<%= mesAtual %>">
        <input type="hidden" name="anoHidden" value="<%= anoAtual %>">        
        <input type="hidden" name="idbloco" value="<%= blocoSelecionado %>">

        <label for="idapartamento">Selecione o Apartamento:</label>
        <select name="idapartamento" id="idapartamento" required onchange="this.form.submit()">
            <option value="">Selecione um apartamento</option>
            <% apartamentos.forEach(row => { %>
                <option value="<%= row.idapartamento %>" <%= aptSelecionado == row.idapartamento ? 'selected' : '' %>><%= row.numeroApt %></option>
            <% }); %>
        </select>
    </form>
<% } %>


<form action="/payment/register" method="post">
    <input type="hidden" name="apartamento_id" value="<%= aptSelecionado %>">
    <input type="hidden" name="morador_id" value="<%= morador ? morador.idmorador : '' %>">

    <% if (reference && reference.length > 0) { %>
        <input type="hidden" name="idreferencia" value="<%= reference[0].idreferencia %>">
        
        
<% if (morador) { %>
    <h2>Dados do Proprietário</h2><br>
    <p><strong>CPF:</strong> <%= morador.cpf %></p><br>
    <p><strong>Nome:</strong> <%= morador.nome %></p><br>
    <p><strong>Telefone:</strong> <%= morador.telefone %></p><br>

    <h2>Dados de pagamento: </h2>

    <label for="date">Mês: </label>
    <span><%= mesAtual %></span>
    
    <label for="date">Ano: </label>
    <span><%= anoAtual %></span>
    <br><br>
    
    <h1>Referências encontradas</h1>
    <ul>
        <% if (reference && reference.length > 0) { %>
            <% reference.forEach(function(ref) { %>
                  <strong>Vencimento:</strong> <%= ref.vencimento.toLocaleDateString('pt-BR') %> <br><br>
                  <strong>Valor:</strong> R$<%= ref.valor %>

            <% }) %>
        <% } else { %>
            <li>Nenhuma referência encontrada.</li>
        <% } %>
    </ul>

<% }else{ %>
    <p>Morador não encontrado</p>
    <%} %>
    <% }else if(apartamentos.length == 0){ %>
    <p>Apartamento nao encontrado</p>
    <%} %>

    <button type="submit">Cadastrar pagamento</button>
</form>


<a href="javascript:history.back()">Voltar</a>



</body>
</html>
